header {
    border: 10px solid blue;
    
}

nav {
     border: 10px solid red
    ;
}

section {
     border: 10px solid green;
    
}
 
ul {
    list-style: none;
    
}

li {
    display: inline-block;
    
}

footer {
     border: 10px  solid black;
    
}